

{% extends 'partials/admin-base.html' %}
{% load static %}


{% block content %}
    <section class="site-section">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1>Admin-Panel Sign In</h1>
        </div>
    </div>
    <div class="row blog-entries">
    <div class="col-md-12 col-lg-8 main-content">

        <form action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="username">Ismingiz</label>
                    <input placeholder="Username" type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="col-md-12 form-group">
                    <label for="password">Parolingiz</label>
                    <input placeholder="Parol"type="password" id="password" name="password" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="submit" value="Kirish" class="btn btn-primary">
                </div>
            </div>
        </form>


    </div>


{% endblock %}
{% include "exam/footer.html" %}

