{% extends 'partials/admin-base.html' %} {% load static %} {% block content %}
<!-- SLIDER section -->
<section class="site-section pt-5 pb-5">

</section>
<!-- END section -->

<style>

</style>

<section class="site-section pt-0 pb-3">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">Bu yerda online testlar ishlashingiz mumkin</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5">
                    <div class="col-md-12">
                        {% if latestposts %} {% for latestpost in latestposts %}
                        <div class="post-entry-horzontal ">
                            <a style="width: 100%" href="{% url 'posts:postDetail' latestpost.category.slug latestpost.id latestpost.slug %}">
                                <div class="image element-animate " data-animate-effect="fadeIn" style="background-image: url({{ latestpost.image.url }});"></div>
                                <span class="text spanyek">
                                    <div class="post-meta ">
                                        <span class="author"><img src="{{ latestpost.author.userdetail.image.url }}" alt="Colorlib"> {{ latestpost.author.username | title }} &bullet; </span>
                                <span>{{ latestpost.created | date }} &bullet;</span>
                                <span class="catyek">{{ latestpost.category.name }} &bullet;</span>
                                <span><span class="fa fa-eye"></span> {{ latestpost.getHitCount }}</span>
                        </div>
                        <h2>{{ latestpost.title | title}}</h2>
                        <p class="mb-0">{{ latestpost.content|safe|linebreaks|truncatechars:100 }}</p>
                        </span>
                        </a>
                    </div>
                    <!-- END post -->
                    {% endfor %} {% else %}
                    <div class="alert alert-primary" role="alert">
                        Hozircha tizimda {{total_question}}- ta test mavjud!
                    </div>
                    {% endif %}
                    <div class="row mb-3">
                        <div class="col-md-12 text-center text-capitalize" style="height:40px">
                            <a onmouseover='$(this).addClass("btn btn-sm btn-primary")' onmouseout='$(this).removeClass("btn btn-sm btn-primary")' href="{% url 'teacherlogin' %}"> For Teacher sign in <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-center text-capitalize" style="height:40px">
                            <a onmouseover='$(this).addClass("btn btn-sm btn-primary")' onmouseout='$(this).removeClass("btn btn-sm btn-primary")' href="{% url 'studentlogin' %}"> For student sign in <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>


                    <!-- Show All Posts Link YEK -->

        <div class="container mt-5"> <div class="row justify-content-center">

            <div class="col-md-4">
                <div class="card shadow p-3">
                <div class="card-body text-center">
                    <div class="bg-primary rounded-circle p-3 mt-3 mb-3">
                    <i class="fa fa-user fa-2x text-white"></i>
                    </div>
                    <h4>Student</h4>
                    <h2 class="mb-0 counter">{{ total_student }}</h2>
                </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card shadow p-3"> 
                <div class="card-body text-center">
                    <div class="bg-primary rounded-circle p-3 mt-3 mb-3">
                    <i class="fa fa-users fa-2x text-white"></i> 
                    </div>
                    <h4>Users</h4>
                    <h2 class="mb-0 counter">{{ total_users }}</h2>
                </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card shadow p-3">
                <div class="card-body text-center">
                    <div class="bg-primary rounded-circle p-3 mt-3 mb-3">   
                    <i class="fa fa-question fa-2x text-white"></i>
                    </div>
                    <h4>Questions</h4>
                    <h2 class="mb-0 counter">{{total_question}}</h2>
                </div>
                </div>
            </div>
        </div> </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- END main-content -->
{% endblock %}
    <!-- Facts Start -->

    <!-- Facts Start -->

