<!DOCTYPE html>
{% extends 'partials/quiz-base.html' %} {% load static %} {% block content %}
<!-- SLIDER section -->
<section class="site-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme home-slider">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<style>
    @media screen and (max-width: 524px) {
        .spanyek {
            height: auto !important;
        }
        .spanyek p {
            display: none !important;
        }
        .catyek {
            display: none !important;
        }
    }
</style>

<section class="site-section pt-0 pb-3">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">Sayt foydalanuvchilar soni - {{ total_users }}</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5">
                    <div class="col-md-12">
                        {% if latestposts %} {% for latestpost in latestposts %}
                        <div class="post-entry-horzontal ">
                            <a style="width: 100%" href="{% url 'posts:postDetail' latestpost.category.slug latestpost.id latestpost.slug %}">
                                <div class="image element-animate " data-animate-effect="fadeIn" style="background-image: url({{ latestpost.image.url }});"></div>
                                <span class="text spanyek">
                                    <div class="post-meta ">
                                        <span class="author"><img src="{{ latestpost.author.userdetail.image.url }}" alt="Colorlib"> {{ latestpost.author.username | title }} &bullet; </span>
                                <span>{{ latestpost.created | date }} &bullet;</span>
                                <span class="catyek">{{ latestpost.category.name }} &bullet;</span>
                                <span><span class="fa fa-eye"></span> {{ latestpost.getHitCount }}</span>
                        </div>
                        <h2>{{ latestpost.title | title}}</h2>
                        <p class="mb-0">{{ latestpost.content|safe|linebreaks|truncatechars:100 }}</p>
                        </span>
                        </a>
                    </div>
                    <!-- END post -->
                    {% endfor %} 
                    {% endif %}


                    <!-- Show All Posts Link YEK -->
                    <div class="row mb-3">
                        <div class="col-md-12 text-center text-capitalize" style="height:40px">
                            <a onmouseover='$(this).addClass("btn btn-sm btn-primary")' onmouseout='$(this).removeClass("btn btn-sm btn-primary")' href="{% url 'teacherlogin' %}"> O'qituvchilar uchun <i class="fa fa-center"></i></a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-center text-capitalize" style="height:40px">
                            <a onmouseover='$(this).addClass("btn btn-sm btn-primary")' onmouseout='$(this).removeClass("btn btn-sm btn-primary")' href="{% url 'studentlogin' %}"> O'quvchilar uchun <i class="fa fa-back-to-top"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- END main-content -->



    

    <title>IT Creative--Quiz Page</title>    

    <link rel="icon" href="https://png.pngtree.com/element_our/png_detail/20181129/male-student-icon-png_251938.jpg" sizes="32x32" type="image/png">
    <!-- Favicon -->


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>


    <!-- Navbar & Carousel Start -->

    <!-- Navbar & Carousel End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-users text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">O'quvchilar soni</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">{{ total_student }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-primary mb-0">Foydalanuvchilar soni</h5>
                            <h1 class="mb-0" data-toggle="counter-up">{{ total_users }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Testlar soni</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up">{{total_question}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Facts Start -->








{% endblock %}
